<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Michael Walker">
    <meta name="robots" content="FOLLOW,INDEX">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="{{ site_name }}">
    <meta property="og:url"       content="{{ permalink }}">
    <meta property="og:title"     content="{{ title }}">

    <meta name="twitter:card"    content="summary">
    <meta name="twitter:site"    content="@barrucadu">
    <meta name="twitter:creator" content="@barrucadu">

    <link rel="canonical" href="{{ permalink }}">

    <base href="{{ base_href }}">

    <title>{{ title }}</title>

    <link rel="stylesheet preload" href="{{ hashed_links['normalize.css'] }}" as="style" type="text/css">
    <link rel="stylesheet preload" href="{{ hashed_links['magick.css'] }}" as="style" type="text/css">
    <link rel="stylesheet preload" href="{{ hashed_links['fonts.css'] }}" as="style" type="text/css">
    <link rel="stylesheet preload" href="{{ hashed_links['weeknotes.css'] }}" as="style" type="text/css">
    <link rel="stylesheet preload" href="{{ hashed_links['code.css'] }}" as="style" type="text/css">

    <link rel="alternate" type="application/atom+xml" title="{{ site_name }}" href="atom.xml">
  </head>

  <body>
    <main>
      <header>
        <h1>{{ title }}</h1>
        <p class="subtitle">{% block subtitle %}{% endblock %}</p>
      </header>

      {% block body %}{% endblock %}

      <footer>
        {% block footer %}{% endblock %}
      </footer>
    </main>
  </body>
</html>
