{% extends "_layout.html" %}
{% block sidebar %}
{% include "_list_sidebar.html" %}
{% endblock %}
{% block body %}
<p>A new entry every Sunday.  Subscribe to the <a class="link" href="taxon/weeknotes.xml">Atom feed</a>.</p>

<div class="weeknotes">
  {% for memo in memos %}
    {% if memo.title.startswith("Weeknotes: ") %}
      <div class="weeknote-card">
        <h3 class="weeknote-card__heading"><a class="link link--no-underline" href="{{ memo.link }}">
            #{{ memo.link.split("weeknotes-")[1].split(".")[0] }}
        </a></h3>
        <time class="weeknote-card__time" datetime="{{ memo.published_iso }}">{{ memo.published_pp }}</time>
      </div>
    {% elif memo.title.startswith("Weeknote Special: ") %}
      <div class="weeknote-card weeknote-card--special">
        <h3 class="weeknote-card__heading"><a class="link link--no-underline" href="{{ memo.link }}">
            #{{ memo.link.split("weeknotes-")[1].split(".")[0] }} — End of {{ memo.title.removeprefix("Weeknote Special: ") }} Special
        </a></h3>
        <time class="weeknote-card__time" datetime="{{ memo.published_iso }}">{{ memo.published_pp }}</time>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
