{% extends "_layout.html" %}
{% block opengraph %}
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{ note.published_iso }}" />
<meta property="article:modified_time" content="{{ note.published_iso }}" />
<meta property="article:author" content="https://www.barrucadu.co.uk/" />
{% endblock %}
{% block subtitle %}
{{ note.published_pp }}
{% endblock %}
{% block body %}
{{ note.body | safe }}
{% endblock %}
{% block footer %}
{% if note.next is defined %}<p class="footer-next"><a href="{{ note.next.link }}">← {{ note.next.title }}</a></p>{% endif %}
{% if note.prev is defined %}<p class="footer-prev"><a href="{{ note.prev.link }}">{{ note.prev.title }} →</a></p>{% endif %}
<p class="footer-return"><a href="">Return</a></p>
{% endblock %}
